prenom,nom
William,Plaisance
Rosamonde,Dupuy
Fabienne,Aubin
Grégoire,Léveillé
Fantina,Quinn
Amitee,Morneau
William,Lespérance
Dreux,Vadeboncoeur
Brigliador,Cadieux
Grosvenor,Provencher
Landers,Devost
Joy,Laprise
Dielle,Séguin
Sidney,DeGrasse
Jules,Gaillou
Archaimbau,Bizier
Dexter,Aucoin
Searlas,Rivière
Germain,Charpie
Honore,Charlesbois
Georges,LaCaille
Anne,Ruest
Searlas,Rochefort
Ferrau,Adler
Aimée,Asselin
Delit,Cyr
Noël,Babin
