doctype html
html

	head
		meta(charset="utf-8")
		title Westcastle usage
		link(rel="stylesheet", href="index.css")

	body

		span.tldr TL;DR:
		ol
			li Bouton "(Ré)initialiser" : charger la liste des joueurs, puis cliquer sur les absents
			li Aller dans la section "appariements" et cliquer sur le bouton "Nouvelle ronde"
			li Lancer le chrono (section "Chronomètre", puis clic gauche [puis F11])
			li Après la ronde, cliquer sur chaque table pour indiquer les (mini-)points, #[br] #[strong puis cliquer sur "Nouvelle ronde".]
		p Le classement est mis à jour dans la rubrique correspondante.

		p Voir aussi la #[a(href="https://auder.net/westcastle_demo.webm") vidéo de démonstration]

		hr

		span L'application est divisée en 4 sections :
		ul
			li Participants : la liste des joueurs présents (et absents)
			li Appariements : répartition des joueurs présents par tables
			li Chronomètre : un chrono qui démarre à 1h30 et sonne une fois à zéro
			li Classement : le tableau des scores

		h2 Participants

		p.
			Au premier lancement de l'application, la liste des joueurs est vide : il faut cliquer sur "(Ré)initialiser",
			puis choisir le fichier participants.csv contenant les prénoms + noms des joueurs en lignes, comme dans participants.csv.sample.
			Le contenu de la première ligne d'en-tête est arbitraire, mais celle-ci doit être présente.

		p.
			Un clic sur un joueur présent l'enlève des joueurs actifs (il est absent) ;
			réciproquement, un clic sur un absent le ramène dans la liste des joueurs actifs.
			Les appariements sont déterminés pour les joueurs présents seulement - en revanche le classement indique tout le monde.

		h2 Appariements

		p.
			Un clic sur le bouton "Nouvelle ronde" réinitialise toutes les tables, en (re-)répartissant les joueurs aléatoirement sur celles-ci.
			Si nécessaire, un quatrième joueur "Toto" est ajouté en fin de table.
			Si seulement 1, 2, ou 5 joueurs sont présents, aucune configuration ne permet de faire jouer tout le monde : il y aura des joueurs exempts.

		p.
			En fin de ronde, un clic sur une table permet de donner les scores de chaque joueur - en mini-points.
			Un clic sur "Enregistrer" valide les scores : le classement est automatiquement mis à jour dans la rubrique correspondante,
			et la table s'affiche désormais sur fond vert. Un clic sur "Fermer" annule l'opération, aucun changement n'est effectué.

		p.
			En cas d'erreur, re-cliquer sur la table à corriger : cliquer ensuite sur "Annuler", puis ré-entrer les scores.

		p.
			Même s'il n'y a plus aucune ronde, ne pas oublier de #[strong cliquer sur "Nouvelle ronde"] :
			cela mémorise les appariements actuels, et surtout enregistre les derniers scores en mémoire.
			le bouton "Annuler", quant à lui, efface les scores déjà entrés et relance la ronde (nouvel appariement).

		h2 Chronomètre

		p.small-spacing.
			Ce chronomètre basique est conçu pour s'afficher centré en mode plein écran : il faut donc commencer par appuyer sur F11
			(la touche peut varier suivant le navigateur...). Ensuite :

		ul
			li un clic gauche lance le chrono ou le met en pause. Un gong retentit au début et une fois le temps écoulé.
			li Un appui sur la barre d'espace permet d'éditer le temps initial (en minutes).
			li un clic droit réinitialise le chrono (90 minutes = 1h30 par défaut).
			li un clic sur la croix en haut à droite revient à la section appariements (suite logique).

		p.
			Note : le chronomètre reste actif même si l'on change de vue - penser à le mettre en pause ou le réinitialiser.

		h2 Classement

		p.
			Les scores sont ordonnés par points de table décroissants d'abord, puis en cas d'ex-aequos par mini-points décroissants.
			Ils peuvent être téléchargés via le bouton en haut à droite. Dans le fichier, "pdt" indique les points de table cumulés
			et "session" les points de session cumulés (aussi appelés mini-points).

		p
			| Un clic sur "Réinitialiser" remet tous les compteurs à zéro : par exemple pour démarrer un nouveau cycle de tournois. 
			strong Attention cette action est irréversible.
